

<h2 class="text-center mb-5">List of Employees</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Add Employee</a>
    </div>
    <div class="col text-end">
        <input type="text" id="searchInput" class="form-control" placeholder="Search Employees..." />
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>SN</th>
            <th>Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Status</th>
            <th>Join Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmpeId</td>
                <td>@item.EmpeCode</td>
                <td>@item.EmpeName</td>
                <td>@item.Email</td>
                <td>@item.DeptId</td>
                <td>@item.Status</td>
                <td>@item.JoinDate.ToString("MM/dd/yyyy")</td>
                <td style="white-space: nowrap">
                    <a class="btn btn-warning btn-sm" asp-controller="Employee" asp-action="Edit" asp-route-id="@item.EmpeId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Employee" asp-action="Delete" onclick="return window.confirm('Are you sure to delete this record')" asp-route-id="@item.EmpeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-5 d-flex justify-content-start">
    <a class="btn btn-outline-warning btn-md" style="width: 123px;" asp-controller="Admin" asp-action="Dashboard" role="button">Back</a>
</div>