@model HR_Products.Models.Entitites.Payroll

@{
    ViewData["Title"] = "Payroll Details List";
}

<h4>Payroll Details</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Employee Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpeName)
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            Position
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            Basic Salary
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>
        <dt class="col-sm-2">
            Allowance
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Allowance)
        </dd>
        <dt class="col-sm-2">
            Overtime Hours
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OvertimeHours)
        </dd>
        <dt class="col-sm-2">
            Tax
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class="col-sm-2">
            Deductions
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deductions)
        </dd>
        <dt class="col-sm-2">
            Gross Pay
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GrossPay)
        </dd>
        <dt class="col-sm-2">
            Net Pay
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NetPay)
        </dd>
        <dt class="col-sm-2">
            From Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FrDate)
        </dd>
        <dt class="col-sm-2">
            To Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class="col-sm-2">
            Pay Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PayDate)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.PayrollId" class="btn btn-warning">Edit</a> |
    <a class="btn btn-outline-warning btn-md" style="width: 100px;" href="javascript:history.back()" role="button">Back</a>
</div>